:root {
    --bright-blue: rgba(104, 161, 186, 1);
    --text-main: #0b313b;
  }
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  
  html {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bright-blue);
    display: flex;
    flex-direction: column;
    
  }

  html {
    box-sizing: border-box;
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
   }
  
  header {
    font-family: "roboto", sans-serif;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    flex: 1;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar-container {
    width: 30%;
  }
  
  .navbar li a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: black;
    font-weight: bold;
}
  
  .logo {
    max-height: 100px;
    max-width: 100px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
  }
  
  .borderline {
    display: flex;
    width: 40%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
  }
/*   body{
    background-image: url(../Assets/daniel-leone-background.png);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  } */

  @media (min-width: 1340px) {
    body{
        background-image: url(../Assets/daniel-leone-background.png);
        background-size: contain;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }
      
    }
    
