
  body{
    /* background-image: url(../Assets/daniel-leone-background.png); */
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

  .body-container{
    display: flex;
    padding-top: 2rem;
    width: 100%;
    min-height: 100%;
    flex: 1;
    flex-direction: column;
    }

.container-left{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}
.container-center{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  
}
.container-right{
  display: flex;
  align-items: baseline;
  width: 100%;
  position: relative;
}
.maintext{
  font-size: x-large;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.quote{
display: flex;
flex-direction: row;
justify-content: center;
font-style: italic;
font-weight: 100;
font-size: 50px;
line-height: 59px;
text-align: center;
letter-spacing: 0.03em;

}

.classbuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

}

.buynowbtn{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 54px;
text-align: center;
letter-spacing: 0.06em;
color:white ;
background: rgba(10, 54, 65, 0.75);
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 10px;
margin: 15px;
}
.buynowbtn:hover{
  background: #D9D9D9;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.learnmorebtn{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 54px;
text-align: center;
letter-spacing: 0.06em;
color: black;
background: rgba(255, 255, 255, 0.75);
border: 1px solid #000000;
border-radius: 10px;
}

.learnmorebtn:hover{
  background: rgba(10, 54, 65, 0.75);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
color: white;
}


.middletext{
font-family: 'Roboto';
font-style: italic;
font-weight: 100;
font-size: 23px;
line-height: 20px;
text-align: center;
letter-spacing: 0.05em;
}


.textbox {
  background-color: #333;
  color: white;
  border-radius: 27px;
  margin: 0 auto;
  padding: 4rem;
  font-size: 20px;
  margin-top: 2rem;
}


.hikingimg {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 90%;
  bottom: 0;
}

.biglogo {
display: flex;
align-items: center;
justify-items: center;
}

.biglogo2 {
  display: flex;
  align-items: center;
  justify-items: center;
 width: 50%;
 margin: 4rem auto;
  
}

.buynowbtn a{
  text-decoration: none;
  color: white;
}
.learnmorebtn a {
  text-decoration: none;
  color: black;
}
@media (min-width: 767px) {
  .hikingimg {
    display: flex;

}
.body-container{
  flex-direction: row;
}
.container-left,
.container-center,
.container-right{
width: 33%;

}
}